.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* margin:"2%"; */
  /* padding:"2%" */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  min-width: 450px;
  max-width: 900px;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
}
th{
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5%;
}
tr{
  border: 1px solid rgb(0, 0, 0);
  padding: 3px;
}

.user-cell{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 5px;
}

.edit-btns{
  margin-left: auto;
  width: fit-content;
  background-color: rgb(231, 227, 227);
}

.profile{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-details{
  padding: 5px;
  margin: 2%;
}
.profile-collection-container{
  border: 2px solid black;
  min-height: 60vh;
  margin: 2%;
  padding:2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
}

.avatar{
  border: 3px solid gray;
}

.selected{
  border: 3px solid rgb(2, 175, 255);
}

.avatar:hover{
  border: 1px groove rgb(38, 49, 54);
  box-shadow: 0px 0px 15px 5px rgb(45, 52, 56)
}


.loader {
  position: absolute;
  border: 5px black dashed;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 0.01s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}